<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button>

            </ion-menu-button>
        </ion-buttons>
        <ion-title>Carrito</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>Productos</ion-label>
        </ion-list-header>

        <ion-item-group *ngIf="cart">
            <ion-item-divider>
                <ion-label>En carrito</ion-label>
            </ion-item-divider>

            <ion-item *ngFor="let item of cart.products; index as i">
                <div>
                    <ion-label>{{ item.name }}</ion-label>
                    <ion-chip color="primary" mode="ios" outline="true">
                        <ion-label>{{ item.price |currency}}</ion-label>
                        <ion-button size="small" color="Danger" (click)="removeFromCart(item, i)">Eliminar</ion-button>
                    </ion-chip>
                </div>
            </ion-item>


            <ion-item-divider>
                <ion-label>Resumen</ion-label>
            </ion-item-divider>

            <ion-item>
                <ion-label>Subtotal</ion-label>
                <ion-chip color="primary" mode="ios" outline="true">
                    <ion-label>{{ cart.subtotal |currency}}</ion-label>
                </ion-chip>
            </ion-item>
            <ion-item>
                <ion-label>IVA (16%)</ion-label>
                <ion-chip color="primary" mode="ios" outline="true">
                    <ion-label>{{ cart.iva |currency}}</ion-label>
                </ion-chip>
            </ion-item>
            <ion-item>
                <ion-label>Total</ion-label>
                <ion-chip color="primary" mode="ios" outline="true">
                    <ion-label>{{ cart.total |currency}}</ion-label>
                </ion-chip>
            </ion-item>
            <ion-item>
                <ion-label>Total de Productos</ion-label>
                <ion-chip color="primary" mode="ios" outline="true">
                    <ion-label>{{ cart.qtyprod }}</ion-label>
                </ion-chip>
            </ion-item>
        </ion-item-group>
    </ion-list>

    <ion-footer class="footer">¡Gracias por su compra!</ion-footer>
</ion-content>